<div layout-gt-md="row">
  <panel-widget flex title="Site visitors" template="bundles/app/General/View/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="bundles/app/General/View/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="bundles/app/General/View/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="bundles/app/General/View/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="bundles/app/General/View/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="bundles/app/General/View/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>