<!DOCTYPE html>
<html class="no-js" ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock title %}</title>
        <meta name="description" content="Admin dashboard with material design">
        <meta name="author" content="rdenes93@gmail.com">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% block stylesheets %}
            {% stylesheets
            'assets/vendor/angular-material/angular-material.min.css'
            'assets/vendor/angular-material-admin/src/app/libs/ag-grid/styles/theme-fresh.css'
            'assets/vendor/angular-material-admin/bower_components/nvd3/build/nv.d3.min.css'
            'assets/vendor/md-data-table/dist/md-data-table-style.css'
            'assets/stylesheets/app.css'
            filter='cssrewrite' output='css/compiled/base_admin.css' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock body %}

        <!--[if lt IE 10]>
            <p>
                You are using an <strong>outdated</strong> browser. Please
                <a href="http://browsehappy.com/">upgrade your browser</a>
                to improve your experience.
            </p>
        <![endif]-->

        <div ui-view layout="row" layout-fill></div>

        {% block javascripts %}
            {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/angular/angular.min.js'
            'assets/vendor/angular-animate/angular-animate.min.js'
            'assets/vendor/angular-cookies/angular-cookies.js'
            'assets/vendor/angular-touch/angular-touch.min.js'
            'assets/vendor/angular-sanitize/angular-sanitize.min.js'
            'assets/vendor/angular-ui-router/release/angular-ui-router.min.js'
            'assets/vendor/angular-resource/angular-resource.min.js'
            'assets/vendor/angular-material/angular-material.js'
            'assets/vendor/angular-material-admin/src/app/libs/mermaid/mermaid.min.js'
            'assets/vendor/angular-material-admin/src/app/libs/mermaid/ngmermaid.js'
            'assets/vendor/angular-material-admin/bower_components/nvd3/build/nv.d3.min.js'
            'assets/vendor/angular-material-admin/bower_components/angular-nvd3/dist/angular-nvd3.min.js'
            'assets/vendor/angular-aria/angular-aria.min.js'
            'assets/vendor/angular-material-data-table/dist/md-data-table.min.js'

            'assets/app.js'

            'assets/app/controllers/MainController.js'
            'assets/app/controllers/TableController.js'
            'assets/app/controllers/DataTableController.js'
            'assets/app/controllers/MessagesController.js'
            'assets/app/controllers/VisitorsController.js'
            'assets/app/controllers/WarningsController.js'
            'assets/app/controllers/MemoryController.js'
            'assets/app/controllers/ControlPanelController.js'
            'assets/app/controllers/UsageController.js'
            'assets/app/controllers/SearchController.js'
            'assets/app/controllers/PerformanceController.js'
            'assets/app/controllers/TodoController.js'
            'assets/app/controllers/ProfileController.js'

            'assets/app/components/directives/panelWidget.js'
            'assets/app/components/services/NavService.js'
            'assets/app/components/services/TodoListService.js'
            'assets/app/components/services/PerformanceService.js'
            'assets/app/components/services/CountriesService.js'
            'assets/app/components/services/TableService.js'
            'assets/app/components/services/MessagesService.js'
            output='js/compiled/app.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- endbuild -->

    </body>
</html>
